<h1>Edit Cat</h1>

<form action = "<%= cat_url(@cat) %>" method = "POST" >
  <input type="hidden" name="_method" value="PATCH"/> 

  <label>Name:
    <input type="text" name="cat[name]" value="<%= @cat.name%>"/> 
  </label>
  <br/>

  <label for="color">Color:</label>
  <select id="color">
  <option value="defalut" selected>-- select a color --</option>
  <option value="black">black</option>
  <option value="white">white</option>
  <option value="purple">purple</option>
  <option value="yellow">yellow</option>
  <option value="grey">grey</option>
  <option value="brown">brown</option>
  </select>
  <br>

  <label>Sex:
  <input type="radio" id="M" name="cat[sex]" value="<%= @cat.sex%>">
  <label for="M">M</label>
  <br>
  <input type="radio" id="F" name="cat[sex]" value="<%= @cat.sex%>">
  <label for="F">F</label>
  <br>

  <label>Description:
    <input type="textarea" name="cat[description]" value="<%= @cat.description%>">
  </label>
  <br/>

  <input type="submit" value="Edit Cat">
 </form>